* {
    font: inter;
    font-size: 16px;
}

.calculatorBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    background-color: #212123;
    padding: 12px 12px 12px 12px;
    border-radius: 16px;
}

.buttonArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width:100%
}

.numberButtons {
    display: flex;
    flex-direction: column;
}

.operatorButtons {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%
}
.buttomRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.output {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    color: white;
    margin-top: 24px;
    margin-bottom: 8px;
    padding-right: 10px;
    width: 100%;
    font-size: 24px;
}

button {
    border-radius: 50%;
    border: 0px ;
    width:40px;
    height:40px;
    margin: 2px;
    color: white;
    background-color: #303031;
}
.operator, .equals {
    background-color: #FF9200;
}

.clear {
    background-color: grey;
}