.calculatorBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.buttonArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.numberButtons {
    display: flex;
    flex-direction: column;
}

.operatorButtons {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.buttomRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.output {
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: lightgray;
}